body{
    background-image: url('hinh/camel.gif');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

p { font-size: 12pt;
    color: #aa5588;
    text-align: justify;
    font-family: arial, sans-serif;
    }

ol {
    list-style-type: upper-roman;
}
    ol ol{
        list-style-type: decimal;
    }
        ol ol ul{
            list-style-type: circle;
        }

a{
    text-decoration: none
}
a:hover {
    text-decoration: underline;
    color: red;
    background-color: #ccffcc
}